name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  compatibility:
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
        java-distribution:
          - temurin
          - zulu
          - adopt-hotspot
          - adopt-openj9
          - liberica
          - microsoft
          - corretto
          - semeru
          - oracle
#          - dragonwell
        java-version: [ 21 ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up ${{ matrix.java-distribution }}-jdk-${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: ${{ matrix.java-version }}

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: gradle-${{ runner.os }}

      - name: Install PCRE
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: sudo apt-get install -y libpcre2-8-0

      - name: Test
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: ./gradlew ffm:test jna:test -Dpcre2.library.path=/usr/lib/x86_64-linux-gnu

  package:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write

    needs:
      - compatibility

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up temurin-jdk-21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Git Hub Pages
        uses: actions/configure-pages@v5

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: gradle-${{ runner.os }}

      - name: Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Install PCRE
        run: sudo apt-get install -y libpcre2-8-0

      - name: Build artifacts
        run: ./gradlew build jacocoAggregatedTestReport -Dpcre2.library.path=/usr/lib/x86_64-linux-gnu

      - name: Build docs
        run: |
          sudo apt-get install -y pandoc

          mkdir -p build/gh-pages
          pandoc \
            -f gfm -t html5 -s --shift-heading-level-by=-1 --lua-filter=gh-pages/filter.lua -H gh-pages/header.html \
            -o build/gh-pages/index.html gh-pages/metadata.md README.md
          pandoc \
            -f gfm -t html5 -s --shift-heading-level-by=-1 --lua-filter=gh-pages/filter.lua -H gh-pages/header.html \
            -o build/gh-pages/pcre2-api.html gh-pages/metadata.md PCRE2_API.md

          mkdir -p build/gh-pages/javadoc
          pandoc \
            -f gfm -t html5 -s  --shift-heading-level-by=-1 --lua-filter=gh-pages/filter.lua -H gh-pages/header.html \
            -o build/gh-pages/javadoc/index.html gh-pages/metadata.md gh-pages/javadoc/index.md
          cp -a api/build/docs/javadoc/. build/gh-pages/javadoc/api
          cp -a lib/build/docs/javadoc/. build/gh-pages/javadoc/lib
          cp -a jna/build/docs/javadoc/. build/gh-pages/javadoc/jna
          cp -a ffm/build/docs/javadoc/. build/gh-pages/javadoc/ffm
          cp -a regex/build/docs/javadoc/. build/gh-pages/javadoc/regex

      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: build/reports/jacoco/jacocoAggregatedTestReport/jacoco.xml

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/gh-pages

      - name: Stage snapshot artifacts
        if: ${{ github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref_name == 'main') }}
        run: >
          ./gradlew publishAllPublicationsToStagingDeployRepository
          -Ppcre4j.version=${{ github.event_name == 'pull_request' && format('PR-{0}', github.event.pull_request.number) || github.ref_name }}-SNAPSHOT

      - name: Publish snapshots to Maven Central
        if: ${{ github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref_name == 'main') }}
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_NEXUS2_SNAPSHOTS_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_NEXUS2_SNAPSHOTS_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: >
          ./gradlew jreleaserDeploy
          ${{ github.event_name == 'pull_request' && '--dry-run' || '' }}
          -Ppcre4j.version=${{ github.event_name == 'pull_request' && format('PR-{0}', github.event.pull_request.number) || github.ref_name }}-SNAPSHOT

  publish-github-pages:
    if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

    runs-on: ubuntu-24.04

    permissions:
      contents: read
      pages: write
      id-token: write

    needs:
      - package

    environment:
      name: github-pages
      url: ${{ steps.publish-github-pages.outputs.page_url }}

    steps:
      - name: Set up Git Hub Pages
        uses: actions/configure-pages@v5

      - name: Publish GitHub Pages
        id: publish-github-pages
        uses: actions/deploy-pages@v4
