name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions: {}

jobs:
  package:
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # Need both JDKs for MRJAR build
      - name: Set up temurin-jdk-21 (for MRJAR base)
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Set up temurin-jdk-22 (for MRJAR overlay)
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 22

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: gradle-${{ runner.os }}

      - name: Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Install PCRE
        run: sudo apt-get install -y libpcre2-8-0

      - name: Build artifacts
        run: ./gradlew build jacocoAggregatedTestReport -Dpcre2.library.path=/usr/lib/x86_64-linux-gnu

      - name: Stage artifacts
        run: ./gradlew publishAllPublicationsToStagingDeployRepository -Ppcre4j.version=${{ github.ref_name }}

      - name: Release to Maven Central
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_MAVENCENTRAL_SONATYPE_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_SONATYPE_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: ./gradlew jreleaserDeploy -Ppcre4j.version=${{ github.ref_name }}
